<h1>Enter a new article</h1>
<form method="POST" action="/articles">
    <label for="title">Title</label>
    <input name="title" type="text" />
    <textarea name="content" cols="30" rows="10"></textarea>
    <input type="submit" value="add book">
</form>

<a href="/">Homepage</a>